{erl_opts,[warn_unused_import,warn_export_vars,verbose,report,debug_info]}.

{minimum_otp_vsn,"23"}.

{deps,[{jsx,"3.1.0"},{eini,"1.2.9"},{base16,"2.0.1"}]}.

{overrides,[{override,eini,[{plugins,[]},{deps,[]}]}]}.

{profiles,[{test,[{deps,[{meck,"0.9.2"}]}]},
           {warnings,[{erl_opts,[warnings_as_errors]}]}]}.

{cover_enabled,true}.

{cover_opts,[verbose]}.

{project_plugins,[{rebar3_hex,"~> 7.0.7"}]}.

